@media (max-width:400px){

  #header {
    height:400px;
  }

  #about {
    height:800px;
  }

  #clubs {
    height:2000px;
  }

  #meet {
    height:3900px;
  }

  #registration {
    height:700px;
  }

  #contact {
    height:700px;
  }

  .image-sponsor {
    height:50px;
    width:300px;
    padding: 10px;
/*     padding-bottom: 20px; */
  }

  .image-header {
    background: url('../img/summerheader.png');
    height: 400px;
    width: 200px;
  }

  #sponsors{
    height: 700px;
  }

  #club {
    height:1300px;
  }

  #mentorsrookies {
    height: 1700px;
  }

  #foot {
    height: 500px;
  }

  #topic-header {
    height:400px;
  }
}

@media (min-width:401px)
and (max-width:500px) {
  #header {
    height:400px;
  }

  #about {
    height:650px;
  }

  #clubs {
    height:2000px;
  }

  #meet {
    height:4500px;
  }

  #registration {
    height:700px;
  }
  #contact {
    height: 600px;
  }

  .image-sponsor {
    height:50px;
    width:200px;
/*     padding-bottom: 20px; */
  }

  #sponsors{
    height: 700px;
  }

  #club {
    height: 1300px;
  }

  #mentorsrookies {
    height: 1700px;
  }

  #foot {
    height: 500px;
  }

  #topic-header {
    height:400px;
  }
}

@media (min-width:501px)
and (max-width:900px) {
  #header {
    height: 500px;
  }
  
  #about {
    height:600px;
  }

  #clubs {
    height:2000px;
  }

  #meet {
    height:7000px;

  }

  #registration {
    height:500px;
  }

  #contact {
    height: 700px;
  }

  .image-sponsor {
    height:50px;
    width:300px;
    padding-bottom: 20px;
  }

  #sponsors{
    height: 700px;
  }

  #club {
    height: 1300px;
  }

  #mentorsrookies {
    height: 1700px;
  }

  #foot {
    height: 500px;
  }

  #topic-header {
    height:500px;
  }

}

@media (min-width:901px)
and (max-width:991px){
  #header {
    height: 500px;
  }

  #about {
    height:500px;
  }

  #clubs {
    height:2000px;
  }

  #meet {
    height:7000px;

  }

  #registration {
    height:500px;
  }

  #contact {
    height: 700px;
  }

  .image-sponsor {
    height:50px;
    width:300px;
    padding-bottom: 20px;
  }

  #sponsors{
    height: 400px;
  }

  #club {
    height: 1100px;
  }

  #mentorsrookies {
    height: 1500px;
  }

  #topic-header {
    height:500px;
  }
}

@media (min-width:992px)
and (max-width:1200px) {
  #header {
    height: 500px;
  }

  #about {
    height:500px;
  }

  #clubs {
    height:1500px;
  }

  #registration {
    height:500px;
  }

  #contact {
    height: 500px;
  }

  .image-sponsor {
    vertical-align: middle;
  }

  #sponsors{
    height: 500px;
  }

  #club {
    height: 1000px;
  }

  #topic-header {
    height:500px;
  }
  
}

@media (min-width:1201px) {
  #header {
    height: 400px;
  }

  #clubs {
    height:1000px;
  }
  #testimonials {
    height:900px
  }

  .image-sponsor {
	vertical-align: middle;
  }

  #sponsors{
    height: 500px;
  }

  #club {
    height: 900px;
  }

  #topic-header {
    height:600px;
  }
 
}

@media (device-height: 568px) and (device-width: 320px) and (webkit-min-device-pixel-ratio: 2) {
  #about {}
}
