@media (max-width:400px){

  #header {
    height:400px;
  }

  #about {
    height:500px;
  }

  #clubs {
    height:1200px;
  }

  #meet {
    height:2400px;
  }

  #registration {
    height:700px;
  }

  #contact {
    height: 700px;
  }
}

@media (min-width:401px)
and (max-width:500px) {
  #header {
    height:400px;
  }

  #about {
    height:500px;
  }

  #clubs {
    height:1200px;
  }

  #meet {
    height:3000px;
  }

  #registration {
    height:700px;
  }
  #contact {
    height: 700px;
  }
}

@media (min-width:501px)
and (max-width:900px) {
  #about {
    height:500px;
  }

  #clubs {
    height:1200px;
  }

  #meet {
    height:2000px;
  }

  #registration {
    height:500px;
  }

  #contact {
    height: 700px;
  }

}

@media (min-width:901px)
and (max-width:991px){
  #about {
    height:500px;
  }

  #clubs {
    height:900px;
  }

  #meet {
    height:2000px;
  }

  #registration {
    height:500px;
  }

  #contact {
    height: 700px;
  }
}

@media (min-width:992px)
and (max-width:1200px) {
  #about {
    height:500px;
  }

  #clubs {
    height:1200px;
  }

  #testimonials {
    height:2000px
  }

  #registration {
    height:500px;
  }

  #contact {
    height: 500px;
  }
}

@media (min-width:1201px) {
  #clubs {
    height:800px;
  }
  #testimonials {
    height:900px
  }
}

@media (device-height: 568px) and (device-width: 320px) and (webkit-min-device-pixel-ratio: 2) {
  #about {}
}
