#logo{
	width: 160px;
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 10px;
}

.container-fluid{
	background-color: white;
	height: 70px;
	box-shadow: 1px 0.5px 30px #4d4d4d;
}

#navbar{
	padding-top: 10px;
	font-family: "Source Sans Pro", sans-serif;
}

#header {
    background: url('../img/summerheader.png');
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
    height: 450px;
}

#club{
    background-color: #ffffff;
    height: 1300px;
    margin: 0;
    padding: 60px 0 260px 0;
    overflow: hidden;
    background-size: cover;
    font-family: "Source Sans Pro", sans-serif;
    border-top-width:2px;  
    border-top-style:dashed;
    border-top-color: #d8d8d8;
}

#mentorsrookies{
    background-color: white;
    margin: 0;
    padding: 100px 0 260px 0;
    background-size: cover;
    height: 900px;
    font-family: "Source Sans Pro", sans-serif;
}

.icons{
	width:500px;
	text-align: center;
}

#foot{
	height:250px;
	background-color: #eeeeee;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

footer{
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2dede;
	text-align: center;
}

h1{
    color: #004b85;
    font-weight: 700;
}

h4{
	font-weight: 700;
	font-size: 11pt;
	letter-spacing: 2pt;
	color: #004b85;
	font-family: "Source Sans Pro", sans-serif;
}

.lead{
	font-size: 12pt;
}

blockquote{
	font-size: 16pt;
	font-style: italic;
}

.btn-circle {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    color:#004b85;
}

.btn-default{
	color: #ffffff;
	background-image: none;
	border:none;
	box-shadow: none;
}

.btn:hover{
	background-color: #ffffff;
}

.linkfoot{
	text-decoration: none;
}

.linkfoot:hover{
	text-decoration: none;	
	color:#ffffff;
}

.image-rectangle{
  height: 300px;
  width: 400px;
}

/* Font Awesome */


/* Instagram */
.fa-instagram {
  color: #004b85;
}

.fa-instagram:hover {
  text-decoration: none;
  color:#a5e5d9;
}

/* Donate */

.fa-heart {
  color: #004b85;
}

.fa-heart:hover {
  text-decoration: none;
  color:#a5e5d9;
}

/* Contact Us */

.fa-envelope {
  color: #004b85;
}

.fa-envelope:hover {
  text-decoration: none;
  color:#a5e5d9;
}

/* Language Flags */

.flag {
    display: block;
    width: 24px;
    height: 24px;
    background: url('css/flags.png') no-repeat;
}


.flag.flag-gb {
    background-position: -24px 0;
}

.flag.flag-id {
    background-position: 0 -24px;
}

.carousel-inner > .item > img {
  width:1040px;
  height:460px;
}

